[program:sftpgo]
directory={{ app_base }}/sftpgo
command=sftpgo --config-dir={{ app_base }}/sftpgo serve -l ""
user=azuracast
priority=700
numprocs=1
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
stdout_logfile={{ tmp_base }}/service_sftpgo.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=5